* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
html {
  font-family: 'CircularStd', sans-serif;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
:root {
  --orange-color: #ed6860;
  --text-color: #424343;
}
/* ---main start */
.main {
  width: 100%;
  min-height: 100dvh;
  max-width: 768px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 767px !important;
  padding: 0 20px;
  margin: auto;
}

/* ---main end */

/* ---home-page--start */
.home-bg,
.start-bid-bg {
  background-image: url("../image/home-bg.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
.home-bg {
  align-items: center;
}
.start-bid-bg {
  padding-bottom: 30px;
  align-items: end;
}
.home-info {
  margin-bottom: 50px;
  text-align: center;
}
.home-title {
  text-align: center;
  padding-top: 140px;
}
.home-info h4 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--orange-color);
  margin-bottom: 5px;
}
.home-info p {
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange-color);
  margin-bottom: 5px;
}
.home-info h1 {
  font-size: 40px;
  line-height: 44px;
  font-weight: 500;
  color: var(--orange-color);
  margin-bottom: 12px;
  font-family: "Playfair Display";
}
.common-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--orange-color);
  border-radius: 800px;
  color: white;
  padding: 16px 20px;
  border: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  width: 100%;
  max-width: 310px;
  margin: auto;
}
.common-btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}
.home-btn-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.term-para {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--orange-color);
  text-decoration: underline;
  margin-top: 40px;
  cursor: pointer;
}
.about-square {
  border: 1px solid #424343b8;
  width: 90%;
  height: 200px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-square p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-color);
}

@media (max-width: 490px) {
  .home-info h1 {
    font-size: 34px;
    line-height: 36px;
  }
  .common-btn {
    width: 285px;
  }
  .about-square {
    height: 177px;
  }
}
@media (max-width: 390px) {
  .home-info h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .common-btn {
    font-size: 12px;
    line-height: 15px;
    max-width: 243px;
    padding: 10px 9px;
  }
  .home-info p {
    font-size: 14px;
  }
  .about-square {
    height: 150px;
  }
  .home-info p,
  .home-info h4 {
    font-size: 12px;
    line-height: 14px;
  }
  .home-info {
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .home-info h1 {
    font-size: 25px;
  }
}
.start-btn {
  font-size: 16px;
  line-height: 20px;
}

/* ---home-page--end */

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}
.inc-nav {
  justify-content: end;
}
.top-nav button {
  border-radius: 800px;
  background-color: white;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  color: var(--orange-color);
  padding: 8px 16px;
  border: 0;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 90px;
}
.top-nav button img {
  width: 100%;
  max-width: 18px;
}
@media (max-width: 430px) {
  .top-nav button {
    font-size: 12px;
    line-height: 14px;
    padding: 7px 12px;
    max-width: 83px;
  }
}
/* ---tnc-sec--start */
.tnc-title {
  text-align: center;
}
.tnc-title h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--orange-color);
  margin-bottom: 5px;
}
.tnc-title h1 {
  font-size: 34px;
  line-height: 38px;
  font-weight: 400;
  color: var(--orange-color);
  font-family: "Playfair Display";
  margin-bottom: 20px;
}
.tnc-title h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  color: var(--orange-color);
  margin-bottom: 10px;
}
.tnc-title p {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 35px;
}
.tnc-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.chance-top {
  text-align: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  width: max-content;
  font-size: 12px;
  line-height: 15px;
  padding: 5px 22px 5px;
  margin: 0 auto;
}
.term-para {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--orange-color);
  text-decoration: underline;
  margin-top: 40px;
}
@media (max-width: 425px) {
  .tnc-title h4 {
    font-size: 14px;
    line-height: 16px;
  }
  .tnc-title h1 {
    font-size: 30px;
    line-height: 34px;
  }
  .tnc-title h2 {
    font-size: 20px;
  }
  .chance-top {
    font-size: 10px;
    line-height: 13px;
    padding: 5px 14px 5px;
  }
}
@media (max-width: 375px) {
  .tnc-title h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .tnc-title p {
    font-size: 11px;
    line-height: 16px;
  }
  .tnc-title h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
/* ---tnc-sec--end */

/* --workshop-modal--start */
.workshop-modal .modal-content {
  margin: 0 20px;
  border-radius: 30px;
}
.workshop-modal .modal-body {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}
.workshop-modal h2 {
  color: var(--orange-color);
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 18px;
}
.workshop-modal p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
}
.modal-btn {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.workmodal-close {
  border: none;
  width: max-content;
  background-color: transparent;
  padding: 8px 16px 0;
  color: var(--orange-color);
  font-size: 20px;
}
.workmodal-close img{
  width: 100%;
  max-width: 12px;
}
.workmodal-info {
  background-color: #fce2e0;
  border-radius: 10px;
  padding: 24px 14px;
  text-align: center;
  margin-bottom: 20px;
}
.workmodal-info h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}
.workmodal-info h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--orange-color);
  margin-bottom: 20px;
}
.workmodal-info p {
  color: #000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 430px) {
  .workmodal-info h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .workmodal-info p {
    font-size: 12px;
    line-height: 17px;
  }
  .workmodal-info h5 {
    margin-bottom: 14px;
  }
  .workshop-modal .modal-body {
    padding: 22px;
  }
  .workshop-modal .modal-content {
    margin: 3px;
  }
}
@media (max-width: 390px) {
  .workshop-modal .modal-body {
    padding: 16px;
  }
  .workmodal-info {
    padding: 18px 6px;
  }
  .workmodal-info h3 {
    font-size: 14px;
    line-height: 16px;
  }
  .workmodal-info h5 {
    font-size: 12px;
    line-height: 14px;
  }
}
/* --modal end */

/* --mywork-page--start */
.mywork-page {
  background-image: url("../image/flow2bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mywork-info {
  padding-top: 100px;
}
.mywork-info .para {
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color);
  font-weight: 400;
  margin-top: 20px;
}
.para-center {
  margin-top: 100px;
  font-size: 18px;
  line-height: 26px;
  color: var(--text-color);
  font-weight: 400;
  text-align: center;
}
.my-work-data button {
  background-color: var(--orange-color);
  padding: 4px 20px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  color: white;
  margin-bottom: 5px;
}
.my-work-data {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
}
.my-work-data h2 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #000;
  margin-bottom: 14px;
}

.work-list li img {
  display: inline-block;
}
.work-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.worklist-info {
  display: flex;
  gap: 8px;
  align-items: center;
}
.worklist-info span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--text-color);
}
.my-work-bottom {
  background-color: var(--orange-color);
  padding: 20px;
  text-align: center;
  margin-top: 35px;
}
.my-work-bottom p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.mywork-sec {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 575px) {
  .my-work-bottom p {
    font-size: 12px;
    line-height: 16px;
  }
  .my-work-bottom p {
    max-width: 100%;
  }
}
@media (max-width: 430px) {
  .my-work-data h2 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .work-list li {
    margin-bottom: 4px;
    gap: 10px;
  }
  .worklist-info {
    gap: 6px;
  }
  .my-work-bottom p {
    font-size: 10px;
    line-height: 16px;
  }
  .my-work-data {
    padding: 8px 8px 8px 14px;
  }
  .worklist-info span {
    font-size: 12px;
    line-height: 14px;
  }
  .my-work-bottom {
    padding: 14px;
  }
}
@media (max-width: 375px) {
  .work-list li {
    gap: 6px;
    flex-wrap: wrap;
  }
  #slotModal .modal-body,
  #slotPLQModal .modal-body,
  #slotPPModal .modal-body {
    padding: 10px;
  }
}

/* --mywork-page--end */

/* --pick-location--start */
.pick-location {
  background-image: url("../image/flow2bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.pick-sec .mywork-info {
  background-image: url("../image/inc-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}
.location-info {
  background-color: var(--orange-color);
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}
.location-info:last-child {
  margin-bottom: 30px;
}
/* --for opacity down use this "opacity" class */
.location-info.opacity {
  opacity: 0.4;
  pointer-events: none;
}
.location-info h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  color: white;
  margin-bottom: 4px;
}
.location-info p {
  color: white;
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 430px) {
  .location-info h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .location-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .location-info{
    padding: 18px;
  }
}
/* --pick-location--end */

/* ---book slot start */
.bookslot-title {
  background-color: #000;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.slot-info {
  padding: 20px;
}
.slot-info h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #000;
  margin-bottom: 14px;
}
.slot-info p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 5px;
}
.slot-list li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 5px;
  margin-left: -5px;
}
.slot-info .book-btn {
  font-size: 20px;
  line-height: 22px;
}

.artmodal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.artmodal-btn a {
  flex: 1;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 800px;
  padding: 9px 12px;
  text-decoration: none;
  transition: 0.3s ease;
  display: block;
  color: white;
  background-color: var(--orange-color);
  border: none;
}
@media (max-width: 575px) {
  .slot-info .book-btn {
    max-width: 230px;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
  }
}
@media (max-width: 430px) {
  .slot-info h3 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .slot-info p,
  .slot-list li {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
  }
  .slot-info .book-btn {
    max-width: 180px;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 17px;
  }
}
/* ---book slot end*/

/* --book-confirm-modal--start */
.book-confirm-modal img {
  width: 100%;
  max-width: 50px;
  margin: 0 auto 10px;
}
.book-confirm-modal .book-head {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}
.book-confirm-modal .para {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin: 0 auto 20px;
  text-align: center;
  width: 100%;
  max-width: 370px;
}
.bg-pink {
  background-color: #fce2e0;
}
.enquir-para {
  margin: 20px 0;
}
.enquir-para p {
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}
@media (max-width: 430px) {
  .book-confirm-modal img {
    max-width: 35px;
  }
  .book-confirm-modal .book-head {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .book-confirm-modal .para {
    font-size: 12px;
    line-height: 18px;
  }
  .book-confirm-modal .para {
    max-width: 323px;
  }
}
/* --book-confirm-modal--end */
